## Project Sucess

This notebooks contains success for given project by analysing number of completed, on-going, and backlog PR

In [11]:
# Installing required packages
! pip install PyMySQL
! pip install ipython-sql
! pip install mysqlclient
! pip install pandas
! pip install matplotlib
! pip install numpy

Requirement already satisfied: PyMySQL in d:\software-eng-4\assignment-1\env\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: ipython-sql in d:\software-eng-4\assignment-1\env\lib\site-packages (0.5.0)
Requirement already satisfied: ipython in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython-sql) (8.30.0)
Requirement already satisfied: ipython-genutils in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: sqlalchemy>=2.0 in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: prettytable in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: six in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\software-eng-4\assignment-1\env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\software-eng-4\assignment-1\env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: colorama in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: traitlets>=5.13.0 in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: matplotlib-inline in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pygments>=2.4.0 in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: decorator in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: exceptiongroup in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: jedi>=0.16 in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: stack_data in d:\software-eng-4\assignment-1\env\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: wcwidth in d:\software-eng-4\assignment-1\env\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in d:\software-eng-4\assignment-1\env\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in d:\software-eng-4\assignment-1\env\lib\site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: pure-eval in d:\software-eng-4\assignment-1\env\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: asttokens>=2.1.0 in d:\software-eng-4\assignment-1\env\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: mysqlclient in d:\software-eng-4\assignment-1\env\lib\site-packages (2.2.6)

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in d:\software-eng-4\assignment-1\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in d:\software-eng-4\assignment-1\env\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\software-eng-4\assignment-1\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\software-eng-4\assignment-1\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\software-eng-4\assignment-1\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\software-eng-4\assignment-1\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in d:\software-eng-4\assignment-1\env\lib\site-packages (3.10.0)
Requirement already satisfied: pillow>=8 in d:\software-eng-4\assignment-1\env\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\software-eng-4\assignment-1\env\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\software-eng-4\assignment-1\env\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in d:\software-eng-4\assignment-1\env\lib\site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: packaging>=20.0 in d:\software-eng-4\assignment-1\env\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: contourpy>=1.0.1 in d:\software-eng-4\assignment-1\env\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\software-eng-4\assignment-1\env\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: cycler>=0.10 in d:\software-eng-4\assignment-1\env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\software-eng-4\assignment-1\env\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: six>=1.5 in d:\software-eng-4\assignment-1\env\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in d:\software-eng-4\assignment-1\env\lib\site-packages (2.2.0)

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
# Conecting to the MySQL database
import pymysql

db_name = "se_assignment"
db_host = "localhost"
db_username = "root"
db_password = "izzath"

try:
    conn = pymysql.connect(host = db_host, port = int(3306), user = db_username, password = db_password, db = db_name)
except e:
    print (e)
if conn:
    print ("connection successful")
else:
        print ("error")

connection successful

In [13]:
import pandas as pd
# Getting status of each Issue categorized into in-progress, completed, and blocked
df1 = pd.read_sql_query("""SELECT Issue.Status , Project.Name AS Project_Name, repository.Name AS Repo_Name FROM Issue INNER JOIN Project ON Issue.Project_ID = Project.ID INNER JOIN repository ON project.Repository_ID = repository.ID""", conn)

df1 = df1.drop_duplicates()
# Getting only the status column
df2 = df1["Status"].drop_duplicates()

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\2015105381.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query("""SELECT Issue.Status , Project.Name AS Project_Name, repository.Name AS Repo_Name FROM Issue INNER JOIN Project ON Issue.Project_ID = Project.ID INNER JOIN repository ON project.Repository_ID = repository.ID""", conn)

In [14]:
# Classification
completed = ['Done', 'Closed', 'Resolved', 'Accepted', 'Published', 'Complete']
in_progress = ['To Do', 'In PR', 'In Progress', 'Open', 'New', 'In Development', 'To Be Tested', 'Testing In Progress', 'Raw', 'Ready for Development', 'Ready to Groom', 'Reviewable', 'Patch Available', 'Reopened', 'In Review', 'Gathering Interest', 'Needs Triage', 'Gathering Impact', 'Waiting for Release', 'Reviewing', 'Backlog', 'Planning', 'To Test', 'Code Review', 'To Develop', 'Ready for Work', 'Scoping', 'In Code Review', 'Investigating' 'Unverified', 'In CR Review', 'Reviewed', 'Selected for Development', 'Debugging With Submitter', 'Needs Design', 'Debugging',  'Development in progress', 'Scheduled','Debugging', 'Development in progress', 'Tested', 'Peer review in progress', 'Integration review in progress', 'Testing in progress',   'Triaged', 'In QE Test', 'Planned Development', 'Pull Request Submitted', 'Automation', 'Needs Scheduling', 'Needs Verification', 'Needs Merge']
blocked = ['Long Term Backlog', 'Short Term Backlog', 'Under Consideration', 'Future Consideration', 'Not Being Considered'  'Returned', 'Invalid', "Won't Fix", 'Waiting (Blocked)',  'Waiting for Reporter', 'Waiting For User Input', 'Blocked', 'Waiting for testing', 'Waiting for integration review', 'Waiting for peer review', 'Waiting for peer review', 'Awaiting Release', 'Awaiting Merge', 'Waiting for Feedback', 'Waiting for Review']

In [15]:
import numpy as np
# How frequently people assigned to PR changes
df3 = pd.read_sql_query("""SELECT Issue.*, Issue_ID, COUNT(CASE WHEN Change_Log.ID > 0 AND Change_Log.Change_Type="PEOPLE" THEN 1 END) AS Freq FROM Issue LEFT JOIN Change_Log ON Issue.ID = Change_Log.Issue_ID GROUP BY Issue.ID HAVING issue.Project_ID = 1""", conn)

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\622623338.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql_query("""SELECT Issue.*, Issue_ID, COUNT(CASE WHEN Change_Log.ID > 0 AND Change_Log.Change_Type="PEOPLE" THEN 1 END) AS Freq FROM Issue LEFT JOIN Change_Log ON Issue.ID = Change_Log.Issue_ID GROUP BY Issue.ID HAVING issue.Project_ID = 1""", conn)

In [20]:
def add_updated_status(row):
    if row['Status'] in completed:
        return "completed"
    elif row["Status"] in in_progress:
        return "in_progress"
    else:
        return "blocked"

df3['Updated Status'] = df3.apply(add_updated_status, axis=1)
df3

,ID,Jira_ID,Issue_Key,URL,Title,Description,Description_Text,Description_Code,Type,Priority,...,Story_Point_Changed_After_Estimation,Pull_Request_URL,Creator_ID,Reporter_ID,Assignee_ID,Project_ID,Sprint_ID,Issue_ID,Freq,Updated Status
0,65,77638,XD-3768,https://jira.spring.io/rest/api/2/issue/77638,"""How do I make a job restartable in spring xd""","""The jobs that appear under Executions section...","""""""The jobs that appear under Executions secti...",,Bug,Major,...,0,,68,68,NaN,1,NaN,NaN,0,in_progress
1,66,77511,XD-3767,https://jira.spring.io/rest/api/2/issue/77511,"""admin config timezone command does not work""","""Working with Spring-XD version 1.3.2.RELEASE ...","""""""Working with Spring-XD version 1.3.2.RELEAS...",""" xd:>admin config admin config info ad...",Bug,Trivial,...,0,,69,69,NaN,1,NaN,NaN,0,in_progress
2,67,77130,XD-3766,https://jira.spring.io/rest/api/2/issue/77130,"""Module Upload command not pushing jar to all ...","""My project 7 node cluster and in that 2 node ...","""""""My project 7 node cluster and in that 2 nod...",,Bug,Major,...,0,,70,70,NaN,1,NaN,NaN,0,in_progress
3,68,71950,XD-3765,https://jira.spring.io/rest/api/2/issue/71950,"""Fix stream failover ""","""See https://github.com/spring-projects/spring...","""""""See https://github.com/spring-projects/spri...",,Story,Minor,...,0,,72,72,71.0,1,NaN,68.0,0,completed
4,69,71805,XD-3764,https://jira.spring.io/rest/api/2/issue/71805,"""SpringXD Job is still executing even after fo...","""I'm trying to run a Job on SpringXD and the j...","""""""I'm trying to run a Job on SpringXD and the...",,Bug,Major,...,0,,73,73,NaN,1,NaN,NaN,0,in_progress
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3702,3770,48120,XD-2,https://jira.spring.io/rest/api/2/issue/48120,"""HDFS Core writing helper classes""","""Simple file writer that has existed in the sp...","""""""Simple file writer that has existed in the ...",,Story,Minor,...,0,,72,72,72.0,1,NaN,3770.0,0,completed
3703,3771,48119,XD-1,https://jira.spring.io/rest/api/2/issue/48119,"""HDFS ItemWriter""","""Base integration of core HDFS writer function...","""""""Base integration of core HDFS writer functi...",,Story,Minor,...,0,,72,72,107.0,1,65.0,3771.0,1,completed
3704,3773,83061,XD-3769,https://jira.spring.io/rest/api/2/issue/83061,"""Upgrade to Spring Boot 2.1.0""","""We tried upgrading from Spring Boot 2.0.6 to ...","""""""We tried upgrading from Spring Boot 2.0.6 t...",,Bug,Blocker,...,0,,256,256,NaN,1,NaN,3773.0,0,in_progress
3705,3774,60674,XD-2355,https://jira.spring.io/rest/api/2/issue/60674,"""xd-singlenode --verbose prints configuration ...","""If you start xd-singlenode with the --verbose...","""""""If you start xd-singlenode with the --verbo...",""" _____ __ _____...",Bug,Minor,...,1,,149,149,91.0,1,17.0,3774.0,1,completed
3706,3775,50944,XD-863,https://jira.spring.io/rest/api/2/issue/50944,"""Serialization of Spring Batch Context Objects""","""Needs some investigation on how the update in...","""""""Needs some investigation on how the update ...",,Story,Minor,...,0,,72,72,93.0,1,51.0,3775.0,1,completed

In [32]:
import datetime

def generate_resolution_days(row):
    if row["Resolution"] == "Complete":
        return (pd.to_datetime(row["Resolution_Date"]) - pd.to_datetime(row["Creation_Date"])).days
    else:
        return None

def generate_analysis(df, project_name):
    # Analysing Total number of issues
    print(f"{project_name} Analysis")
    total_number_issues = df.size
    total_number_completed_issues = df[(df["Updated Status"] == "completed")].size
    total_number_progress_issues = df[(df["Updated Status"] == "in_progress")].size
    total_number_blocked_issues = df[(df["Updated Status"] == "blocked")].size

    # Stats about completing a issue    
    df["Resolution_Time"] = df.apply(generate_resolution_days, axis=1)
    resolution_time_quartiles_q1 = df["Resolution_Time"].quantile(0.25)
    resolution_time_quartiles_q2 = df["Resolution_Time"].quantile(0.5)
    resolution_time_quartiles_q3 = df["Resolution_Time"].quantile(0.75)

    
    total_change_count = (df["Freq"] > 0).sum()

    return [project_name, total_number_issues, total_number_completed_issues, total_number_progress_issues, total_number_blocked_issues, total_change_count, resolution_time_quartiles_q1, resolution_time_quartiles_q2, resolution_time_quartiles_q3]

def generate(conn):
    df = pd.read_sql_query("SELECT ID, Name FROM Project", conn)
    rows = []

    for index, project_row in df.iterrows():
       project_id = project_row['ID']
       sql_query = f"SELECT Issue.*, Issue_ID, COUNT(CASE WHEN Change_Log.ID > 0 AND Change_Log.Change_Type='PEOPLE' THEN 1 END) AS Freq FROM Issue LEFT JOIN Change_Log ON Issue.ID = Change_Log.Issue_ID GROUP BY Issue.ID HAVING issue.Project_ID = {project_id}"
       df = pd.read_sql_query(sql_query, conn)
       df['Updated Status'] = df3.apply(add_updated_status, axis=1)

       rows.append(generate_analysis(df, project_row["Name"]))

    return pd.DataFrame(rows, columns=["Project Name", "Total Issues", "Total Completed Issues", "Total In-progress Issues", "Total Blocked Issues", "Total People Change Issues", "Resolution Time(Q1/days)", "Resolution Time(Q2/days)", "Resolution Time(Q3/days)"])
       

df4 = generate(conn)
df4

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT ID, Name FROM Project", conn)
C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Spring XD Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Spring DataCass Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Sonatype Nexus Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Apache Mesos Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Apache Usergrid Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Apache MXNet Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Alloy Framework Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Aptana Studio Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Command-Line Interface Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Appcelerator Daemon Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Titanium Mobile Platform Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

The Titanium SDK  Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Appcelerator Studio Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian Bamboo  Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian Clover Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian Crowd Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian FishEye Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian Jira Server Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian Software Cloud Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian Atlassian Software Server Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian Confluence Cloud Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian Confluence Server Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Hyperledger Blockchain Explorer Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Hyperledger Fabric Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Hyperledger Indy Node Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Hyperledger Indy SDK Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Hyperledger Sawtooth Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Lsstcorp Data management Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Lyrasis Dura Cloud Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

MongoDB Compass  Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

The Mongo C++ driver Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

The Mongo Java driver Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

MongoDB Core Server Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Moodle Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Mule APIkit Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Mule Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

DotNetNuke Platform Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

The MongoDB Engineering Analysis

C:\Users\Izzath\AppData\Local\Temp\ipykernel_62976\3153529079.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Atlassian Jira Cloud Analysis

,Project Name,Total Issues,Total Completed Issues,Total In-progress Issues,Total Blocked Issues,Total People Change Issues,Resolution Time(Q1/days),Resolution Time(Q2/days),Resolution Time(Q3/days)
0,Spring XD,122331,100518,21813,0,1863,2.0,8.0,25.0
1,Spring DataCass,26334,17688,8646,0,222,0.0,14.0,54.0
2,Sonatype Nexus,327096,100518,21813,0,5350,NaN,NaN,NaN
3,Apache Mesos,335181,100518,21813,0,4407,NaN,NaN,NaN
4,Apache Usergrid,44187,30063,14124,0,465,NaN,NaN,NaN
5,Apache MXNet,46332,31614,14718,0,708,NaN,NaN,NaN
6,Alloy Framework,50127,34551,15576,0,1073,NaN,NaN,NaN
7,Aptana Studio,268455,100518,21813,0,4737,NaN,NaN,NaN
8,Command-Line Interface,21285,14289,6996,0,436,NaN,NaN,NaN
9,Appcelerator Daemon,10329,6897,3432,0,48,NaN,NaN,NaN
10,Titanium Mobile Platform,100947,79233,21714,0,1365,NaN,NaN,NaN
11,The Titanium SDK,727947,100518,21813,0,14408,NaN,NaN,NaN
12,Appcelerator Studio,197307,100518,21813,0,3834,NaN,NaN,NaN
13,Atlassian Bamboo,470316,100518,21813,0,5191,NaN,NaN,NaN
14,Atlassian Clover,49533,34089,15444,0,852,NaN,NaN,NaN
15,Atlassian Crowd,142263,100518,21813,0,1825,NaN,NaN,NaN
16,Atlassian FishEye,182589,100518,21813,0,2224,NaN,NaN,NaN
17,Atlassian Jira Server,1457445,100518,21813,0,10015,NaN,NaN,NaN
18,Atlassian Software Cloud,386166,100518,21813,0,2767,NaN,NaN,NaN
19,Atlassian Atlassian Software Server,424446,100518,21813,0,4225,NaN,NaN,NaN
20,Atlassian Confluence Cloud,772497,100518,21813,0,2360,NaN,NaN,NaN
21,Atlassian Confluence Server,1396692,100518,21813,0,15761,NaN,NaN,NaN
22,Hyperledger Blockchain Explorer,26466,17754,8712,0,477,NaN,NaN,NaN
23,Hyperledger Fabric,451506,100518,21813,0,5699,NaN,NaN,NaN
24,Hyperledger Indy Node,76593,55242,21351,0,1391,NaN,NaN,NaN
25,Hyperledger Indy SDK,50523,34848,15675,0,997,NaN,NaN,NaN
26,Hyperledger Sawtooth,54879,37323,17556,0,793,NaN,NaN,NaN
27,Lsstcorp Data management,874698,100518,21813,0,6658,NaN,NaN,NaN
28,Lyrasis Dura Cloud,37125,25641,11484,0,635,NaN,NaN,NaN
29,MongoDB Compass,59103,40425,18678,0,751,NaN,NaN,NaN
30,The Mongo C++ driver,67056,46728,20328,0,1433,NaN,NaN,NaN
31,The Mongo Java driver,117480,95700,21780,0,2060,NaN,NaN,NaN
32,MongoDB Core Server,1605879,100518,21813,0,30131,NaN,NaN,NaN
33,Moodle,2202453,100518,21813,0,40665,NaN,NaN,NaN
34,Mule APIkit,29238,19470,9768,0,438,NaN,NaN,NaN
35,Mule,389928,100518,21813,0,5693,NaN,NaN,NaN
36,DotNetNuke Platform,331980,100518,21813,0,5677,0.0,8.0,64.0
37,The MongoDB Engineering,339867,100518,21813,0,5949,NaN,NaN,NaN
38,Atlassian Jira Cloud,847077,100518,21813,0,2145,NaN,NaN,NaN